.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 68px;
  padding-bottom: 14px;
  box-sizing: border-box;
}

.footer__logo {
  background-image: url("../../vendor/images/footer/onpoint-logo.png");
  background-size: cover;
  width: 60px;
  height: 12px;
}
